<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smaatlearn.module4homework"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/icon"
        android:label="FragmentLayoutActivity" >
        <activity
            android:name="com.smaatlearn.module4homework.M4HWActivity"
            android:label="FragmentLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smaatlearn.module4homework.DetailsActivity"
            android:label="DetailsActivity" >
        </activity>
    </application>

</manifest>